<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>

<body ng-app="starter">

<!--
  The nav bar that will be updated as we navigate between views.
-->

<!--
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
-->


<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->

<ion-nav-view></ion-nav-view>

<!--
<ion-content class="padding">

  <div class="list" ng-controller="ChatsCtrl">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-heart placeholder-icon"></i>
        <input type="text" placeholder="Type Your Name" ng-model="boyfrnd">
      </label>


      <label class="item item-input">
        <i class="icon ion-heart placeholder-icon"></i>
        <input type="text" placeholder="My Love" ng-model="girlfrnd">
      </label>

    </div>


    <h2>Hello, {{boyfrnd}} </h2>
    <h2>Hello, {{girlfrnd}} </h2>

    <button class="button button-assertive">
      button-assertive
    </button>
  </div>


  <div class="tabs tabs-icon-only">
    <a class="tab-item">
      <i class="icon ion-home"></i>
    </a>
    <a class="tab-item">
      <i class="icon ion-star"></i>
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a"></i>
    </a>
  </div>

</ion-content>
-->



</body>
</html>
